html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent
}
b,
strong {
    font-weight: bolder
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
small {
    font-size: 80%
}
html {
    box-sizing: border-box
}
*,
:after,
:before {
    box-sizing: inherit
}
body {
    background-color: #fff;
    overflow-x: hidden
}
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}
::-moz-selection {
    background: rgba(240, 54, 148, .2);
    text-shadow: none
}
::selection {
    background: rgba(240, 54, 148, .2);
    text-shadow: none
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid 1px solid #1e2d3c;
    margin: 1.5rem 0;
    padding: 0
}
img,
picture {
    margin: 0;
    max-width: 100%;
    height: auto
}
img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality
}
img.aligncenter,
img.alignleft,
img.alignnone,
img.alignright {
    margin-bottom: 8px
}
img.alignright {
    margin-left: 24px
}
img.alignleft {
    margin-right: 24px
}
.cs-text__large-text,
.cs-unboxed__large,
.cs__hero-content-subtitle,
.display,
.explore__text,
.footer__next-link-subtitle,
.islides__featured-text,
.nav__link-num,
.nav__link-title,
.news__date-num,
.pagination .page-numbers,
.single__images-gallery .slick-dots button,
.stats__eq,
.stats__figure-header,
.tally__list,
.tally__total,
.work__hero-subtitle,
.work__item-client,
blockquote,
h1,
h2,
h3,
h4 {
    font-family: Druk, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: .8;
    margin: 0
}

.sans-regular,
body {
    font-family: "Sharp Grotesk Book 20", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}
.sans-italic,
em {
    font-family: "Sharp Grotesk Italic 20", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal
}
.contact__point-title,
.sans-bold,
p.bold,
strong {
    font-family: "Sharp Grotesk Medium 20", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}
.articles-btn,
.button,
.button__video,
.cats-btn,
.condensed,
.more,
.news-bar__categories a,
.news__cats,
.news__date-month,
.p-card__position,
.search-btn,
.services__area-item,
.title-bar__title,
cite {
    font-family: "Sharp Grotesk Medium 15", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px
}
html {
    font-size: 62.5%
}
body {
    font-feature-settings: "kern" 1, "liga" 1, "frac" 1, "lnum" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #5a6977
}
h1,
h2,
h3,
h4 {
    color: #1e2d3c;
    line-height: .9
}
h1 {
    font-size: 80px;
    font-size: 8rem
}
h2 {
    font-size: 40px;
    font-size: 4rem;
    margin: 48px 0 24px
}
h3 {
    font-size: 32px;
    font-size: 3.2rem;
    margin: 48px 0 24px
}
h4 {
    font-size: 24px;
    font-size: 2.4rem;
    margin: 32px 0 16px
}
p {
    margin: 0 0 24px
}
a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .2s ease
}
a:active,
a:focus,
a:hover {
    color: white;
    outline: 0
}
a:active:after,
a:focus:after,
a:hover:after {
    width: 100%
}
a:after,
a:before {
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    width: 0%;
    height: 1px;
    content: '';
    
    transition: width .6s cubic-bezier(1, 0, 0, 1)
}
a:before {
    width: 0%;
    background: rgba(255, 255, 255, .5)
}
.dark a {
    color: #fff
}
.dark a:after {
    background: #fff
}
.dark a:before {
    width: 100%
}
ul {
    margin: 36px 0;
    list-style-image: url(../images/bullet.svg)
}
li {
    margin-bottom: 21px
}
.wp-caption-text {
    background: #f03694;
    color: #fff;
    padding: 8px 24px;
    margin-bottom: 32px;
    font-size: 12px;
    font-size: 1.2rem
}
.intro {
    font-size: 20px;
    font-size: 2rem;
    color: #1e2d3c;
    margin-bottom: 56px
}
blockquote {
    position: relative;
    max-width: 568px;
    margin: 56px auto;
    padding: 70px 30px;
    border-top: 1px solid #1e2d3c;
    border-bottom: 1px solid #1e2d3c;
    font-size: 40px;
    font-size: 4rem;
    text-align: center;
    color: #1e2d3c;
    line-height: 1
}
blockquote p {
    margin-bottom: 0
}
blockquote:after,
blockquote:before {
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 25px;
    height: 20px;
    content: '';
    background: url(../images/quote.svg) no-repeat
}
blockquote:after {
    left: auto;
    right: 0;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
cite {
    text-align: center;
    color: #939ba3;
    font-size: 12px;
    font-size: 1.2rem
}
.header-stack__title {
    font-size: 40px;
    font-size: 4rem;
    margin: 0 0 2px
}
@media (max-width:1024px) {
    .header-stack__title {
        font-size: 32px;
        font-size: 3.2rem
    }
}
@media (max-width:568px) {
    .header-stack__title {
        font-size: 20px;
        font-size: 2rem
    }
}
.header-stack__subtitle {
    max-width: 568px;
    margin: 0 0 32px;
    font-size: 80px;
    font-size: 8rem
}
@media (max-width:1024px) {
    .header-stack__subtitle {
        font-size: 64px;
        font-size: 6.4rem;
        margin: 0 0 32px
    }
}
@media (max-width:568px) {
    .header-stack__subtitle {
        font-size: 40px;
        font-size: 4rem;
        margin: 0 0 32px
    }
}
.header-stack__subtitle--dark,
.header-stack__title--dark {
    color: #fff
}
.section-text-inner--dark {
    color: #b0c4d7
}
.section-text-inner {
    padding-left: 32px
}
@media (max-width:1024px) {
    .section-text-inner {
        padding-left: 0
    }
}

.fp-enabled body,
html.fp-enabled {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent
}
.fp-section {
    position: relative;
    box-sizing: border-box
}
.fp-slide {
    float: left
}
.fp-slide,
.fp-slidesContainer {
    height: 100%;
    display: block
}
.fp-slides {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-out
}
.fp-section.fp-table,
.fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%
}
.fp-slidesContainer {
    float: left;
    position: relative
}
.fp-controlArrow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff
}
.fp-scrollable {
    overflow: hidden;
    position: relative
}
.fp-scroller {
    overflow: hidden
}
.iScrollIndicator {
    border: 0!important
}
.fp-notransition {
    transition: none!important
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0)
}
#fp-nav.right {
    right: 17px
}
#fp-nav.left {
    left: 17px
}
.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0!important;
    right: 0;
    margin: 0 auto!important
}
.fp-slidesNav.bottom {
    bottom: 17px
}
.fp-slidesNav.top {
    top: 17px
}
#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative
}
.fp-slidesNav ul li {
    display: inline-block
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    transition: all .1s ease-in-out
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    transition: opacity .2s ease-in;
    width: auto;
    opacity: 1
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px
}
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-auto-height.fp-section {
    height: auto!important
}
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section {
    height: auto!important
}
.fixedsticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky
}
.fixed-supported .fixedsticky-off,
.fixedsticky-withoutfixedfixed .fixedsticky-off {
    position: static
}
.fixed-supported .fixedsticky-on,
.fixedsticky-withoutfixedfixed .fixedsticky-on {
    position: fixed
}
.fixedsticky-dummy {
    display: none
}
.fixedsticky-on + .fixedsticky-dummy {
    display: block
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: 0
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}
[dir=rtl] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
@keyframes plyr-progress {
    to {
        background-position: 25px 0
    }
}
@keyframes plyr-popup {
    0% {
        opacity: .5;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes plyr-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.plyr {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
    line-height: 1.7;
    max-width: 100%;
    min-width: 200px;
    position: relative;
    text-shadow: none;
    transition: box-shadow .3s ease
}
.plyr audio,
.plyr video {
    border-radius: inherit;
    height: auto;
    vertical-align: middle;
    width: 100%
}
.plyr button {
    font: inherit;
    line-height: inherit
}
.plyr:focus {
    outline: 0
}
.plyr--full-ui {
    box-sizing: border-box
}
.plyr--full-ui *,
.plyr--full-ui ::after,
.plyr--full-ui ::before {
    box-sizing: inherit
}
.plyr--full-ui a,
.plyr--full-ui button,
.plyr--full-ui input,
.plyr--full-ui label {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}
.plyr__badge {
    background: #4f5b5f;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
    line-height: 1;
    padding: 3px 4px
}
.plyr--full-ui ::-webkit-media-text-track-container {
    display: none
}
.plyr__captions {
    animation: plyr-fade-in .3s ease;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 14px;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
    transition: transform .4s ease-in-out;
    width: 100%
}
.plyr__captions span {
    background: rgba(0, 0, 0, .8);
    border-radius: 2px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 185%;
    padding: .2em .5em;
    white-space: pre-wrap
}
.plyr__captions span div {
    display: inline
}
.plyr__captions span:empty {
    display: none
}
@media (min-width:480px) {
    .plyr__captions {
        font-size: 16px;
        padding: 20px
    }
}
@media (min-width:768px) {
    .plyr__captions {
        font-size: 18px
    }
}
.plyr--captions-active .plyr__captions {
    display: block
}
.plyr--hide-controls .plyr__captions {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
}
.plyr__control {
    background: 0 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: visible;
    padding: 7px;
    position: relative;
    transition: all .3s ease
}
.plyr__control svg {
    display: block;
    fill: currentColor;
    height: 18px;
    pointer-events: none;
    width: 18px
}
.plyr__control:focus {
    outline: 0
}
.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 3px rgba(240, 54, 148, .35);
    outline: 0
}
.plyr__control[aria-pressed=false] .icon--pressed,
.plyr__control[aria-pressed=false] .label--pressed,
.plyr__control[aria-pressed=true] .icon--not-pressed,
.plyr__control[aria-pressed=true] .label--not-pressed {
    display: none
}
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio {
    background: #f03694;
    color: #fff
}
.plyr__control--overlaid {
    background: rgba(240, 54, 148, .8);
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    color: #fff;
    display: none;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2
}
.plyr__control--overlaid svg {
    height: 20px;
    left: 2px;
    position: relative;
    width: 20px
}
.plyr__control--overlaid:focus,
.plyr__control--overlaid:hover {
    background: #f03694
}
.plyr--playing .plyr__control--overlaid {
    opacity: 0;
    visibility: hidden
}
.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: block
}
.plyr--full-ui ::-webkit-media-controls {
    display: none
}
.plyr__controls {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    text-align: center
}
.plyr__controls .plyr__menu,
.plyr__controls .plyr__progress,
.plyr__controls .plyr__time,
.plyr__controls > .plyr__control {
    margin-left: 5px
}
.plyr__controls .plyr__menu:first-child,
.plyr__controls .plyr__menu:first-child + [data-plyr=pause],
.plyr__controls .plyr__progress:first-child,
.plyr__controls .plyr__progress:first-child + [data-plyr=pause],
.plyr__controls .plyr__time:first-child,
.plyr__controls .plyr__time:first-child + [data-plyr=pause],
.plyr__controls > .plyr__control:first-child,
.plyr__controls > .plyr__control:first-child + [data-plyr=pause] {
    margin-left: 0
}
.plyr__controls .plyr__volume {
    margin-left: 5px
}
@media (min-width:480px) {
    .plyr__controls .plyr__menu,
    .plyr__controls .plyr__progress,
    .plyr__controls .plyr__time,
    .plyr__controls > .plyr__control {
        margin-left: 10px
    }
    .plyr__controls .plyr__menu + .plyr__control,
    .plyr__controls > .plyr__control + .plyr__control,
    .plyr__controls > .plyr__control + .plyr__menu {
        margin-left: 5px
    }
}
.plyr--video .plyr__controls {
    background: rgba(0, 0, 0, .4);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 13px 10px 10px;
    position: absolute;
    right: 0;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    z-index: 2
}
.plyr--video .plyr__controls .plyr__control svg {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15))
}
.plyr--video .plyr__controls .plyr__control.plyr__tab-focus,
.plyr--video .plyr__controls .plyr__control:hover,
.plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: #f03694;
    color: #fff
}
.plyr--audio .plyr__controls {
    background: #fff;
    border-radius: inherit;
    color: #1e2d3c;
    padding: 10px
}
.plyr--video.plyr--hide-controls .plyr__controls {
    opacity: 0;
    pointer-events: none;
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}
.plyr [data-plyr=airplay],
.plyr [data-plyr=captions],
.plyr [data-plyr=fullscreen],
.plyr [data-plyr=pip] {
    display: none
}
.plyr--airplay-supported [data-plyr=airplay],
.plyr--captions-enabled [data-plyr=captions],
.plyr--fullscreen-enabled [data-plyr=fullscreen],
.plyr--pip-supported [data-plyr=pip] {
    display: inline-block
}
.plyr__video-embed {
    height: 0;
    padding-bottom: 56.25%;
    position: relative
}
.plyr__video-embed iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}
.plyr--full-ui .plyr__video-embed iframe {
    pointer-events: none
}
.plyr--full-ui .plyr__video-embed > div {
    padding-bottom: 240%;
    position: relative;
    -ms-transform: translateY(-38.28125%);
    transform: translateY(-38.28125%)
}
.plyr__menu {
    display: -ms-flexbox;
    display: flex;
    position: relative
}
.plyr__menu .plyr__control svg {
    transition: transform .3s ease
}
.plyr__menu .plyr__control[aria-expanded=true] svg {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.plyr__menu .plyr__control[aria-expanded=true] .plyr__tooltip {
    display: none
}
.plyr__menu__container {
    animation: plyr-popup .2s ease;
    background: rgba(255, 255, 255, .9);
    border-radius: 4px;
    bottom: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    color: #4f5b5f;
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute;
    right: -3px;
    text-align: left;
    white-space: nowrap;
    z-index: 3
}
.plyr__menu__container > div {
    overflow: hidden;
    transition: height .35s cubic-bezier(.4, 0, .2, 1), width .35s cubic-bezier(.4, 0, .2, 1)
}
.plyr__menu__container::after {
    border: 4px solid transparent;
    border-top-color: rgba(255, 255, 255, .9);
    content: '';
    height: 0;
    position: absolute;
    right: 15px;
    top: 100%;
    width: 0
}
.plyr__menu__container ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 7px
}
.plyr__menu__container ul li {
    margin-top: 2px
}
.plyr__menu__container ul li:first-child {
    margin-top: 0
}
.plyr__menu__container .plyr__control {
    -ms-flex-align: center;
    align-items: center;
    color: #4f5b5f;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 4px 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}
.plyr__menu__container .plyr__control::after {
    border: 4px solid transparent;
    content: '';
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.plyr__menu__container .plyr__control--forward {
    padding-right: 28px
}
.plyr__menu__container .plyr__control--forward::after {
    border-left-color: rgba(79, 91, 95, .8);
    right: 5px
}
.plyr__menu__container .plyr__control--forward.plyr__tab-focus::after,
.plyr__menu__container .plyr__control--forward:hover::after {
    border-left-color: currentColor
}
.plyr__menu__container .plyr__control--back {
    font-weight: 500;
    margin: 7px;
    margin-bottom: 3px;
    padding-left: 28px;
    position: relative;
    width: calc(100% - 14px)
}
.plyr__menu__container .plyr__control--back::after {
    border-right-color: rgba(79, 91, 95, .8);
    left: 7px
}
.plyr__menu__container .plyr__control--back::before {
    background: #b7c5cd;
    box-shadow: 0 1px 0 #fff;
    content: '';
    height: 1px;
    left: 0;
    margin-top: 4px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 100%
}
.plyr__menu__container .plyr__control--back.plyr__tab-focus::after,
.plyr__menu__container .plyr__control--back:hover::after {
    border-right-color: currentColor
}
.plyr__menu__container label.plyr__control {
    padding-left: 7px
}
.plyr__menu__container label.plyr__control input[type=radio] + span {
    background: rgba(0, 0, 0, .1);
    border-radius: 100%;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 16px;
    margin-right: 10px;
    position: relative;
    transition: all .3s ease;
    width: 16px
}
.plyr__menu__container label.plyr__control input[type=radio] + span::after {
    background: #fff;
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform .3s ease, opacity .3s ease;
    width: 6px
}
.plyr__menu__container label.plyr__control input[type=radio]:checked + span {
    background: #f03694
}
.plyr__menu__container label.plyr__control input[type=radio]:checked + span::after {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1)
}
.plyr__menu__container label.plyr__control input[type=radio]:focus + span {
    box-shadow: 0 0 0 3px rgba(240, 54, 148, .35);
    outline: 0
}
.plyr__menu__container label.plyr__control.plyr__tab-focus input[type=radio] + span,
.plyr__menu__container label.plyr__control:hover input[type=radio] + span {
    background: rgba(0, 0, 0, .1)
}
.plyr__menu__container .plyr__menu__value {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: -7px;
    overflow: hidden;
    padding-left: 25px;
    pointer-events: none
}
.plyr__progress {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    position: relative
}
.plyr__progress input[type=range] {
    position: relative;
    z-index: 2
}
.plyr__progress .plyr__tooltip {
    font-size: 14px;
    left: 0
}
.plyr__progress--buffer {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 100px;
    height: 6px;
    left: 0;
    margin: -3px 0 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%
}
.plyr__progress--buffer::-webkit-progress-bar {
    background: 0 0;
    transition: width .2s ease
}
.plyr__progress--buffer::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: 6px
}
.plyr__progress--buffer::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: 6px;
    transition: width .2s ease
}
.plyr__progress--buffer::-ms-fill {
    border-radius: 100px;
    transition: width .2s ease
}
.plyr--video .plyr__progress--buffer {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .25)
}
.plyr--audio .plyr__progress--buffer {
    color: rgba(183, 197, 205, .66)
}
.plyr--loading .plyr__progress--buffer {
    animation: plyr-progress 1s linear infinite;
    background-image: linear-gradient(-45deg, rgba(47, 52, 61, .6) 25%, transparent 25%, transparent 50%, rgba(47, 52, 61, .6) 50%, rgba(47, 52, 61, .6) 75%, transparent 75%, transparent);
    background-repeat: repeat-x;
    background-size: 25px 25px;
    color: transparent;
}
.plyr--video.plyr--loading .plyr__progress--buffer {
    background-color: rgba(255, 255, 255, .25)
}
.plyr--audio.plyr--loading .plyr__progress--buffer {
    background-color: rgba(183, 197, 205, .66)
}
.plyr--full-ui input[type=range] {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 28px;
    color: #f03694;
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
    transition: box-shadow .3s ease;
    width: 100%
}
.plyr--full-ui input[type=range]::-webkit-slider-runnable-track {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    height: 6px;
    transition: all .3s ease;
    -webkit-user-select: none;
    user-select: none;
    background-image: linear-gradient(to right, currentColor var(--value, 0), transparent var(--value, 0))
}
.plyr--full-ui input[type=range]::-webkit-slider-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
    box-sizing: border-box;
    height: 14px;
    position: relative;
    transition: all .2s ease;
    width: 14px;
    -webkit-appearance: none;
    margin-top: -4px
}
.plyr--full-ui input[type=range]::-moz-range-track {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    height: 6px;
    transition: all .3s ease;
    -moz-user-select: none;
    user-select: none
}
.plyr--full-ui input[type=range]::-moz-range-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
    box-sizing: border-box;
    height: 14px;
    position: relative;
    transition: all .2s ease;
    width: 14px
}
.plyr--full-ui input[type=range]::-moz-range-progress {
    background: currentColor;
    border-radius: 3px;
    height: 6px
}
.plyr--full-ui input[type=range]::-ms-track {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    height: 6px;
    transition: all .3s ease;
    -ms-user-select: none;
    user-select: none;
    color: transparent
}
.plyr--full-ui input[type=range]::-ms-fill-upper {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    height: 6px;
    transition: all .3s ease;
    -ms-user-select: none;
    user-select: none
}
.plyr--full-ui input[type=range]::-ms-fill-lower {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    height: 6px;
    transition: all .3s ease;
    -ms-user-select: none;
    user-select: none;
    background: currentColor
}
.plyr--full-ui input[type=range]::-ms-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
    box-sizing: border-box;
    height: 14px;
    position: relative;
    transition: all .2s ease;
    width: 14px;
    margin-top: 0
}


@keyframes scaleUp {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes rotateClockwise {
    0% {
        transform: rotate(0)
    }
    75% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(90deg)
    }
}
.nav__outer {
    position: relative;
    z-index: 9998
}
.nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    -webkit-overflow-scrolling: touch
}
@media (max-width:1024px) {
    .nav {
        overflow-y: scroll;
        overflow-x: hidden
    }
}
.nav__inner {
    height: 100%
}
@media (max-width:1024px) {
    .nav__inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 100%;
        height: auto
    }
}
.js-nav--open {
    visibility: visible
}
.nav__list {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}
@media (max-width:1024px) {
    .nav__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        height: auto;
        width: 100%;
        max-width: 350px;
        margin: auto;
        padding: 100px 0 48px 68px
    }
}
.nav__item {
    position: relative;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    margin: 0;
    padding: 0
}
@media (max-width:1024px) {
    .nav__item {
        margin: 16px 0
    }
}
.nav__item-line {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, .2)
}
@media (max-width:1024px) {
    .nav__item-line {
        display: none
    }
}
.nav__link {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 0 0 20%;
    text-decoration: none;
    color: #fff;
    will-change: transform;
    transition: color .5s
}
.nav__link:active,
.nav__link:focus,
.nav__link:hover {
    color: #000
}
.nav__link:after {
    display: none
}
@media (max-width:1024px) {
    .nav__link {
        padding: 0
    }
}
.nav__link-content {
    position: relative;
    z-index: 3
}
.nav__link-base {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 150px);
    background-color: #fff;
    box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, .2);
    will-change: transition;
    opacity: 0
}
.nav__link:hover .nav__link-base {
    z-index: 2
}
.nav__link-num {
    position: absolute;
    top: 14px;
    left: -24px;
    font-size: 16px
}
.nav__link-title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 8px;
    line-height: .8;
    overflow: hidden
}
.nav__link-desc {
    display: block;
    font-size: 12px
}
.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    width: 100%;
    height: 84px
}


.nav__bg {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    will-change: auto;
    pointer-events: none;
    visibility: hidden
}
.button,
.button__video {
    position: relative;
    min-height: 44px;
    background: 0 0;
    outline: 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer
}
.button:after,
.button__video:after {
    display: none
}
.button {
    z-index: 1;
    display: inline-block;
    padding: 14px 20px 13px;
    border: 4px solid #1e2d3c;
    color: #1e2d3c;
    line-height: .8;
    transition: color .3s ease
}
@media (min-width:1025px) {
    .button::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        content: '';
        width: 0;
        height: 100%;
        background: #1e2d3c;
        transition: width .4s cubic-bezier(1, 0, 0, 1)
    }
    .button:focus,
    .button:hover {
        color: #fff
    }
    .button:focus::before,
    .button:hover::before {
        width: 100%
    }
}
.button--white,
.hcontent__btn {
    border-color: #fff;
    color: #fff
}
@media (min-width:1025px) {
    .button--white::before,
    .hcontent__btn::before {
        background: #fff
    }
    .button--white:focus,
    .button--white:hover,
    .hcontent__btn:focus,
    .hcontent__btn:hover {
        color: #1e2d3c
    }
}
.button__video {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 44px;
    border: none;
    padding: 0 0 0 2px;
    color: #1e2d3c;
    cursor: pointer
}


.icon__small-plus {
    fill: #f03694;
    width: 11px;
    height: 11px
}

.explore {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 15%;
    width: 40px;
    height: 100%;
    visibility: hidden
}
@media (max-width:1024px) {
    .explore {
        display: none
    }
}

.explore__text {
    position: absolute;
    left: 24px;
    bottom: 14px;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: top left;
    transform-origin: top left;
    white-space: nowrap;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: #fff
}

.explore--dark .explore__text {
    color: #939ba3
}


.video-full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    width: 100%;
    height: 100%
}
.video-full__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -ms-transform: scaleX(0);
    transform: scaleX(0)
}
.video-full__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll
}
.video-full__video {
    margin: auto
}
.video-full__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 3;
    width: 36px;
    height: 36px;
    border: none;
    background: rgba(0, 0, 0, .6);
    outline: 0;
    padding: 0;
    cursor: pointer
}
.video-full__close-btn:focus .video-full__close-icon,
.video-full__close-btn:hover .video-full__close-icon {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.video-full__close-btn:focus .video-full__close-icon-x,
.video-full__close-btn:hover .video-full__close-icon-x {
    fill: #f03694
}
.video-full__close-icon {
    width: 36px;
    height: 36px;
    transition: transform .3s cubic-bezier(.77, 0, .175, 1)
}
.video-full__close-icon-x {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: center center;
    transform-origin: center center;
    fill: #fff;
    transition: fill .3s cubic-bezier(.77, 0, .175, 1)
}
.footer {
    position: relative;
    z-index: 1
}
.footer__divider {
    height: 100px;
    background: linear-gradient(to right, #f03694 0, #00b4fb 100%)
}
.home {
    background: #1e2d3c
}
.container {
    height: 100%
}



.home-logo {
    position: relative;
    z-index: 1;
    width: 271px;
    height: auto;
    margin-bottom: 3vw;
    visibility: hidden;
    opacity: 0
}
@media (max-width:1024px) {
    .home-logo {
        width: 180px;
        margin-bottom: 32px
    }
}



.hcontent {
    width: 70%;
    margin-bottom: 5vh;
    color: #fff
}
@media (max-width:1024px) {
    .hcontent {
        width: 85%
    }
}
@media (max-width:568px) {
    .hcontent {
        width: 90%
    }
}
.hcontent__titles {
    -ms-transform: translateX(-10%);
    transform: translateX(-10%)
}
@media (max-width:1024px) {
    .hcontent__titles {
        -ms-transform: translateX(-24px);
        transform: translateX(-24px)
    }
}
@media (max-width:667px) {
    .hcontent__titles {
        -ms-transform: none;
        transform: none;
        padding-left: 14px
    }
}
@media (max-height:450px) and (max-width:667px) {
    .hcontent__titles {
        padding-left: 70px
    }
}
@media (max-height:590px) and (min-width:668px) {
    .hcontent__titles {
        padding-left: 100px
    }
}
.hcontent__title {
    margin: 0;
    font-size: 60px;
    font-size: 6rem;
    overflow: hidden;
    -ms-transform: translateX(48px);
    transform: translateX(48px);
    color: #fff
}
@media (max-width:1024px) {
    .hcontent__title {
        font-size: 48px;
        font-size: 4.8rem
    }
}
@media (max-width:667px) {
    .hcontent__title {
        -ms-transform: none;
        transform: none;
        font-size: 32px;
        font-size: 3.2rem
    }
}
@media (max-width:375px) {
    .hcontent__title {
        font-size: 32px;
        font-size: 3.2rem
    }
}
@media (max-height:450px) and (max-width:667px) {
    .hcontent__title {
        font-size: 28px;
        font-size: 2.8rem
    }
}
@media (max-height:590px) and (min-width:668px) {
    .hcontent__title {
        font-size: 32px;
        font-size: 3.2rem
    }
}
.hcontent__subtitle {
    margin: 0;
    overflow: hidden;
    font-size: 120px;
    font-size: 12rem;
    color: #fff
}
.hcontent__subtitle > div {
    overflow: hidden
}
@media (max-width:1024px) {
    .hcontent__subtitle {
        font-size: 96px;
        font-size: 9.6rem
    }
}
@media (max-width:667px) {
    .hcontent__subtitle {
        font-size: 64px;
        font-size: 6.4rem
    }
}
@media (max-width:375px) {
    .hcontent__subtitle {
        font-size: 56px;
        font-size: 5.6rem
    }
}
@media (max-height:450px) and (max-width:667px) {
    .hcontent__subtitle {
        font-size: 56px;
        font-size: 5.6rem
    }
}
@media (max-height:590px) and (min-width:668px) {
    .hcontent__subtitle {
        font-size: 64px;
        font-size: 6.4rem
    }
}
.hcontent__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 8vh
}
.hcontent__link-line {
    width: 80%;
    height: 1px;
    background: #fff
}
.hcontent__btn {
    margin-top: 8px
}

.title-bar--home-footer {
    visibility: hidden
}
.hnews {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    height: 100%
}
.islides {
    position: fixed;
    z-index: 2;
    width: 80%;
    height: 80%;
    max-height: 900px;
    max-width: 1400px;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
@media (max-width:1024px) {
    .islides {
        height: 90%;
        width: calc(100% - 120px)
    }
}
@media (max-width:667px) {
    .islides {
        height: 90%;
        width: calc(100% - 32px)
    }
}
.islides__outer {
    position: relative;
    z-index: 1;
    top: 32px;
    left: 40px;
    width: calc(100% - 40px);
    height: calc(100% - 64px);
    box-shadow: 4px 6px 32px 0 rgba(0, 0, 0, .5)
}
@media (max-width:667px) {
    .islides__outer {
        left: 32px;
        width: calc(100% - 30px);
        height: calc(100% - 54px)
    }
}
.islides__inner {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.islides__images {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden
}
.islide {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #000
}
.islide__img {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover; object-position: center"
}
.islides__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1925;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.islides__featured-text {
    position: absolute;
    top: 69px;
    left: -22px;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 2px;
    -ms-transform: rotate(-90deg);
    transform: rotateZ(-90deg)
}
@media (max-width:667px) {
    .islides__featured-text {
        top: 72px;
        left: -26px
    }
}
.islides__grad {
    position: absolute;
    z-index: 0;
    top: 132px;
    left: 0;
    width: 70%;
    height: calc(100% - 132px);
    background: red;
    background-image: linear-gradient(135deg, #f03694 0, #f03694 90%);
    box-shadow: 8px 16px 40px 0 rgba(0, 0, 0, .5)
}
@media (max-width:1024px) {
    .islides__grad {
        width: 85%
    }
}
@media (max-width:568px) {
    .islides__grad {
        width: 90%
    }
}
.blurred {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #1e2d3c;
    visibility: hidden;
    opacity: 0
}
.blur__img {
    display: none
}
@supports (display:flex) {
    .blur__img {
        display: block;
        width: 100%;
        height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: "object-fit: cover; object-position: center";
        filter: blur(50px);
        mix-blend-mode: screen;
        opacity: .6
    }
}
.blur__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-side, transparent 60%, #1e2d3c);
    box-shadow: inset 0 0 160px 60px #1e2d3c
}
.home #fp-nav {
    width: 8%;
    min-width: 48px;
    opacity: 1;
    transition: opacity .5s ease-in-out
}
.home #fp-nav.hide-fp-nav {
    opacity: 0
}