<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Material Design - Responsive card</title>
  <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <section class="container">
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red fade-in">
                <h2>
                    <span>Opportunity Spies A Dust Devil</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage6.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        Taken from the north-facing slope of Knudsen Ridge on March 31, 2016, Opportunity captures a dust devil with its Navcam. While dust devils are quite common the Martian surface, there aren't too many images of them lingering around, especially ones that also feature rover tracks. It's a double whammy of awesome.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink fade-in">
                <h2>
                    <span>Shadows At Endeavour Crater</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage10.jpg">
                    </div>
                    <div class="mc-description">
                        Captured with the Opportunity rover's Pancam on March 9, 2012, shadows fall over the western rim of the14-mile-wide Endeavour crater, the largest impact crater on Mars.Sure, there is still a mountain of hurdles for researchers to overcome before we're sipping our morning coffee on the red planet.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Purple fade-in">
                <h2>
                    <span>An Icy, Terraced Crater</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage9.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        While it may look like a normal crater with an icy center, there's a lot going on in this image. According to NASA, most small impact craters on Mars look like small bowls. However, this one has a hole in the middle surrounded by a long terrace, giving the crater an eyeball-like appearance.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Purple fade-in">
                <h2>
                    <span>The Bagnold Dunes</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage3.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        While there are many images of dunes on the Martian surface, this one looks a lot like many areas on Earth. Curiosity captured this snapshot of the Bagnold Dunes from inside Gale Crater near Mount Sharp on September 25, 2015.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Indigo fade-in">
                <h2>
                    <span>The Crisp Crater</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage4.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        This image, released in June 2015, showcases the Crisp Crater in Sirenum Fossae. In it, you can see the materials ejected from the crater on impact and the gullies carved into it.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Blue fade-in">
                <h2>
                    <span>Northern Ice Cap</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage5.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        In 2010, NASA's Mars Global Surveyor snapped this image of Mars' ice cap, which measures some 1,000 kilometers (621 miles) across. The ice cap is made out of frozen carbon dioxide, and the ripples are actually deep valleys covered in shadow. </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Light-Blue fade-in">
                <h2>
                    <span>The First Martian Sand Dune Studied By Curiosity</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage2.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        Looking like waves on the high seas, these are the Bagnold Dunes near Mount Sharp. They were studied by the Curiosity rover on November 27, 2015. Just like Earth's deserts, these sand dunes are constantly changing with the winds and can move up to one meter per year. </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan fade-in">
                <h2>
                    <span>Rover Tracks Near The Endeavour Crater</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage8.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        On August 15, 2014, Opportunity beamed back this panoramic image of its tire tracks while exploring the western rim of the Endeavour crater. If you look closely, you can see its tracks extend down toward Murray Ridge from earlier in 2014.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Cyan fade-in" >
                <h2>
                    <span>Rover Tracks Near The Endeavour Crater</span>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img  src="images/marsimage8.jpg" width="100%" height="100%">
                    </div>
                    <div class="mc-description">
                        On August 15, 2014, Opportunity beamed back this panoramic image of its tire tracks while exploring the western rim of the Endeavour crater. If you look closely, you can see its tracks extend down toward Murray Ridge from earlier in 2014.</div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
</section>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="js/index.js"></script>
</body>

</html>
