<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Mars Timeline</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
  
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="../static/css/time_style.css">

        <style type="text/css">
            .left_top {
            position:fixed;
            left:10px;
            top:10px;
            height: 40px;
            margin-top: 10px;
            width: 40px;
            margin: 10px 5px;
            background-color: #8B8F91;
            border-radius: 50%;
            display: inline-block;
            z-index: 100;
          }
      </style>
</head>

<body>
  <a href="{% url 'home' %}"><img src="https://cdn.dribbble.com/users/1087126/screenshots/2791116/mf_logo.gif" class="left_top"></a>
  <header>
  <div class="container text-center">
    <h1>Mars Timeline</h1>
    <p>Mars Futurism</p>
  </div>
</header>

<section class="timeline">
  <div class="container">

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>Build technology to get astronauts to space</h2>
        </div>
        <div class="date">2016</div>
        <p>Currently, the United States relies on a Russian Soyuz spacecraft to get astronauts to the International Space Station. That is set to change, as private spaceflight companies have taken on the challenge of building a system to launch humans and cargo spaceward: Elon Musk's SpaceX is working on the Dragon robotic launch vehicles, while Boeing is building its CST-100, Logsdon said. Musk has also said that SpaceX's robotic launch vehicle could head off to Mars as soon as 2018. (A launch vehicle is a rocket-powered vehicle designed to send spacecraft or satellites into space.)</p>
      </div>
    </div> 

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Build bigger spacecraft</h2>
        </div>
        <div class="date">2018</div>
        <p> A Mars voyage requires a spacecraft that can carry multiple people, along with all the supplies for a three-year round-trip, including potential cargo items, said Bret Drake, an engineering specialist with Los Angeles-based Aerospace Corp., a nonprofit organization that researches launch vehicles, satellite systems, ground control systems and space technology for the federal government."To sustain a crew all the way to Mars means being able to launch rather heavy payloads, because you have to have the fuel and supplies for the round-trip," added Logsdon. "And there's no 7-Eleven on Mars where you can stock up to come home," he told Live Science.One alternative is to create a giant spacecraft; another is to develop multiple smaller modules that can be launched separately into orbit and then assembled in space, Logsdon said. (Some of these modules could hold people while others could hold supplies, for instance). </p>
      </div>

    </div>   


    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>Build bigger rockets</h2>
        </div>
        <div class="date">2020</div>
        <p> Launching a bigger spacecraft into deep space requires bigger rockets on any launch vehicles used. NASA plans to conduct a second test of what will be the world's largest rocket, which will be part of the SLS, sometime in 2021, according to NASA. SpaceX is also developing the Falcon Heavy rocket, which is designed to launch heavier payloads, including people, into space. </p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>Stick the landing</h2>
        </div>
        <div class="date">2023</div>
        <blockquote> After people enter Mars' orbit, they need to land on the Red Planet. With past missions, friction, thermal effects and parachutes could provide the deceleration needed to land. But a parachute won't have enough stopping power for such heavy crafts.However, scientists are making progress on that front.  
        For instance, SpaceX has shown that high-speed crafts can decelerate using supersonic retropropulsion, which involves firing engines while landing, Drake said. "We now have a feasible technical solution for how to get large vehicles to the surface of Mars," Drake said.</blockquote>
      </div>
    </div>   


    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Figure out long-term habitation on a space station</h2>
        </div>
        <div class="date">2025</div>
        <p> Astronauts have logged many weeks and months on the International Space Station (ISS), demonstrating the feasibility of long-term habitation systems, such as those that provide safe water, process waste, and filter air in space. Similar systems could be used for a stay on Mars, experts say.The difference, however, is that the ISS is in low Earth orbit, just a few hours' trip to the home planet. If anything breaks, Earth can still come to the rescue. That won't be possible on Mars, which is at least a six- to nine-month journey, even when the planets are at their closest point to each other."One key advancement for the life-support system is increasing the reliability of the systems," Drake said. "For Mars missions, there are no quick-abort modes back to Earth, nor ground-up resupply if systems fail. </p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
        <div class="timeline-img-header">
          <h2> Avoid deadly cosmic radiation</h2>
        </div>
        </div>
        <div class="date">2027</div>
        <p> Astronauts going on a Mars mission will need protection from two forms of radiation: solar proton events (or solar flares) and galactic cosmic radiation.The first "can be mitigated by proper vehicle design, along with a dedicated storm shelter, such as a water wall made from the life-support system water supply," Drake said. (This would involve literally lining the walls with the water used for drinking and howering.)Shielding people from galactic cosmic radiation is trickier. In free space, cosmic radiation levels are extremely high. However, the Mars Science Laboratory, which landed on the Martian surface aboard the rover Curiosity, has measured cosmic radiation levels and showed that radiation exposure at the surface of the red planet is similar to levels seen aboard the ISS, Drake said.</p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
        <div class="timeline-img-header">
          <h2>Get to the moon</h2>
        </div>
        </div>
        <div class="date">2028</div>
        <p> Before making the three-year round-trip to Mars, many of these long-term space systems will be tested in cislunar orbit, according to NASA's timeline of the journey to Mars. Sometime between 2018 and 2030, NASA plans to send crewed missions on spacewalks in the region of space near the moon. Some of these missions could last a year, in preparation for the epic voyage to Mars.The plans also include a trip to redirect and sample material from an asteroid.This will provide an opportunity to test out all of the elements of the Mars mission, while not being too far from Earth in case something goes wrong, Logsdon said.</p>
      </div>
    </div>  

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="timeline-img-header">
           <h2>Build housing on Mars</h2>
        </div>
        <div class="date">2030</div>
               <blockquote> Once people have taken the effort to get to Mars, they won't just turn around. The outbound voyage would take six to nine months, but explorers can't return until Mars and Earth are in good alignment relative to the sun, which could take 14 months, Logsdon said. (The return trip will be much shorter if the Earth and Mars are on the same side of the sun, rather than on opposite sides.)In a way, Mars pioneers would be similar to "the explorers of the 16th century that went on ships across the ocean and were gone from their home country for a long time," Logsdon said.Given that, it makes sense to make some kind of permanent structure, Logsdon said."You need, on the Martian surface, some sort of habitat," Logdson said. "You're not going to live inside a spacesuit all the time.</blockquote>
      </div>
    </div>   

 


  </div>
</section>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>

  

    <script type='text/javascript' src="../static/js/time_index.js"></script>




</body>

</html>
